html,
body {
    margin: 0;
    padding: 0;
}
.top-banner {
    background-color: #264653;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
h4 {
    font-size: 16px;
    color: #23a6f0;
    font-weight: 600;
}
h5 {
    font-size: 15px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 300;
}
/* featured bikes */
.featured-bikes {
    padding: 100px 0;
}
.bike-row {
    padding-top: 50px;
}
.bike-container {
    border-radius: 20px;
}
.all-bike {
    background-color: #f1f1f1;
    border-radius: 20px;
}
/* happy clients */
.clients-rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 15px 0px;
    padding: 0px;

    width: 130px;
    height: 22px;
}
.rating-img {
    position: static;
    width: 149px;
    height: 149px;
    margin-left: calc(50% - 149px / 2);
    margin-top: 40px;
}
.fa-star {
    font-size: 20px;
}
.fa-star.filled {
    color: #e77c40;
}
.fa-star.empty {
    color: #e77c40;
}
.different-color {
    color: #e77c40;
}

/* FAQ  */

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #000000;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: '\f106';
    color: #000000;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: '\f107';
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

/* Footer  */

.social-icon {
    margin: 10px 10px;
}

/* #latest-section {
    background-color: salmon; 
    padding: 30px 200px;
} */

.button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 5px;
    background-color: #e77c40;
    color: white;
}
