html,
body {
    margin: 0;
    padding: 0;
}
.top-banner {
    background-color: #264653;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 600;
}
h2 {
}
p {
    font-size: 16px;
    font-weight: 300;
}
.card-img-top {
    width: 288px;
    height: 243px;
}
